[FORMAT]
max-line-length=100

[BASIC]
# Если оценка будет ниже 7.0, линтер вернет ошибку
fail-under=7.0

[MESSAGES CONTROL]
# Отключаем только требования к документации, чтобы не мешали
disable=missing-module-docstring,missing-function-docstring
